.vscode/*
build/**
CMakeFiles/**
generated/**
pico-sdk/**
pioasm/**
pico-sdk/**
picotool/**
pioasm-install/**
_deps/**
obj/**
exe/**
build.ninja
CMakeCache.txt
CMakeDoxyfile.in
Makefile
*.cmake
*.pio.h
*.bin
*.ld
*.elf
*.elf.map
*.hex
*.uf2
*.dis
*.pdb
